<header>
  <span class="brand">Twitch Game Popularity</span>
    <ul class="nav">
        <li class="about"><a>About</a></li>
        <li class="games {{if isRightOpen "open" "close"}}"><a {{action "toggleRight"}}>Games</a></li>
    </ul>
</header>

<div id="main">
  {{outlet "main"}}
</div>

<div id="right" class="{{if isRightOpen "open" "close"}}">
  {{outlet "right"}}
</div>